body {
  margin: 0;

  /* These styles should probably go to Theme component or in any other way be a part of the library */
  font-family: sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
